.error {
    height: fit-content;
    width: fit-content;
    max-width: 600px;
    background-color: lightcoral;
    border: 5px solid darkred;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    color: darkred;
}
.error h1 {
    text-align: center;
    border-bottom: 2px solid darkred;
}